.task-list-item {
  background-color: #fcfbfa;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 1px;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0.6em;

  .task-list-item__handle {
    flex: 0 0 auto;
    margin-right: 0.6em;
    padding: 0.6em 0;
    visibility: hidden;
  }
  .task-list-item__id-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: center;
    margin-right: 0.3em;
    min-width: 0;
    padding-top: .2em;

    .task-list-item__id {
      &:before {
        content: '#'
      }
      &:after {
        content: ': '
      }
    }
  }
  .task-list-item__text-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-size: .8em;
    justify-content: center;
    min-width: 0;
    padding-top: .2em;

    .task-list-item__input,
    .task-list-item__text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.6;
    }
  }
  .task-list-item__controls-container {
    display: flex;
    flex: 0 0 auto;
    min-width: 0;
    padding-top: .25em;
    visibility: hidden;

    .task-list-item__control-button {
      border-radius: 1.225em;
      display: inline-block;
      margin-left: 0.5em;
      height: 2.5em;
      width: 2.5em;
    }

    .task-list-item__add-after-button,
    .task-list-item__edit-button,
    .task-list-item__delete-button,
    .task-list-item__apply-button,
    .task-list-item__cancel-button {
      display: inline-block;
    }
    .task-list-item__apply-button,
    .task-list-item__cancel-button {
      display: none;
    }
  }

  &.task-list-item--selected {
    background-color: #fdf9f9;
  }
  &:hover {
    .task-list-item__handle {
      visibility: visible;
    }
    .task-list-item__controls-container {
      visibility: visible;
    }
  }
  &.task-list-item--editing {
    .task-list-item__handle {
      visibility: hidden;
    }
    .task-list-item__controls-container {
      .task-list-item__apply-button,
      .task-list-item__cancel-button {
        display: flex;
      }
      .task-list-item__add-after-button,
      .task-list-item__edit-button,
      .task-list-item__delete-button {
        display: none;
      }
    }
  }
}