html {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;

  body {
    color: #333;
    font-size: 16px;
    font-family: verdana, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;

    #root {
      height: 100%;

      .app-page {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        margin: 0 auto;
      }

      @media screen {
        @media (max-width: 700px) {
          .app-page {
            width: 100%;
          }
        }
        @media (min-width: 700px) and (max-width: 900px) {
          .app-page {
            min-width: 700px;
            width: 90%;
            max-width: 810px;
          }
        }
        @media (min-width: 900px) {
          .app-page {
            width: 810px;
          }
        }
      }
    }

    input,
    select {
      font-family: verdana, sans-serif;
      font-size: 1em;
    }
  }
}