.button {
  align-content: center;
  border: 0 none !important;
  background: none;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  outline: 0 none !important;
  padding: 0;
  text-align: center;
  color: #666;

  &:hover {
    color: #aaa;
  }
}