.project-list {
  .project-list__project-item-container {
    box-sizing: border-box;
    height: 45px;
    padding: .3em .4em 0;

    .project-item {
      display: block;
      cursor: pointer;
      height: 2.2em;
    }
  }
}