// TODO: move this style to a separate stylesheet or even component
.task-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .task-list-filter {
    flex: 0 0 38.2px;
    margin: 1.8px .4em 5px;
  }
  .task-list__list-container {
    flex: 1 1 auto;

    .task-list__task-list-item-container {
      box-sizing: border-box;
      padding: .3em .4em 0;
      /* note: height is fixed in a react component */

      .task-list-item {
        cursor: pointer;
      }
    }
  }
  .task-list__empty {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: center;
    height: 100%;

    .task-list__empty-text {
      margin: auto;

      a {
        margin-left: .4em;
      }
    }
  }
}