.task-item {
  background-color: #fcfbfa;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 1px;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.55em 0.8em;

  .task-item__handle {
    flex: 0 0 auto;
    margin-right: 0.8em;
  }
  .task-item__text-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-size: .8em;
    justify-content: center;
    min-width: 0;

    .task-item__input,
    .task-item__text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .task-item__controls-container {
    display: flex;
    flex: 0 0 5em;
    visibility: hidden;

    .task-item__edit-button,
    .task-item__delete-button,
    .task-item__apply-button,
    .task-item__cancel-button {
      display: flex;
      flex: 1 0 auto;
    }
    .task-item__apply-button,
    .task-item__cancel-button {
      display: none;
    }
  }

  &.task-item--selected {
    background-color: #fdf9f9;
  }
  &:hover {
    .task-item__controls-container {
      visibility: visible;
    }
  }
  &.task-item--editing {
    .task-item__controls-container {
      .task-item__apply-button,
      .task-item__cancel-button {
        display: flex;
      }
      .task-item__edit-button,
      .task-item__delete-button {
        display: none;
      }
    }
  }
}